/* Colors */
$body-background-color: #141414;

/* Text */
$text-primary-color: #fff;

/* media breakpoints */
$breakpoint-tablet: 1280px;
$breakpoint-mobile: 720px;

@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/Jost-Regular.ttf") format("truetype");
}

@mixin hide-movies($from, $to) {
  @for $i from $from through $to {
    &:nth-of-type(#{$i}) {
      display: none;
    }
  }
}

@mixin button-style {
  width: 60px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;

  &:hover {
    background-color: white;
    color: blue;
    cursor: pointer;
  }
}

@mixin section-styles {
  display: flex;
  /* justify-content: space-around; */
  flex-wrap: wrap;
  padding: 16px;
  gap: 4px;
}

@mixin item-styles {
  flex: 1;
  min-width: 250px;

  img {
    width: 100%;
  }

  :hover {
    cursor: pointer;
    transition: all;
    transition-duration: 0.5s;
    transform: scale(1.1);
  }

  /* media */

  @media screen and (min-width: $breakpoint-tablet) and (max-width: 1580px) {
    flex: 1 1 350px;
  }
}
