@use "./base" as *;

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $body-background-color;
  color: $text-primary-color;
  font-family: Jost, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px;

  .header-logo {
    display: flex;
    align-items: center;
    gap: 8px;

    img {
      width: 80px;
      height: 80px;
    }

    .platform-title {
      font-size: 24px;
    }
  }

  .header-buttons {
    display: flex;
    gap: 12px;
    padding: 16px;

    & > div {
      @include button-style();
    }
  }
}

.section-title {
  padding-top: 32px;
  padding-left: 16px;
  font-size: 20px;
}

.top {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  padding: 16px;
  .top-item {
    flex: 1;

    img {
      min-width: 225px;
      width: 100%;
    }

    :hover {
      cursor: pointer;
      transition: all;
      transition-duration: 0.5s;
      transform: scale(1.2);
    }
  }
}

.first {
  @include section-styles();

  .item {
    @include item-styles();
  }
}

.second {
  @include section-styles();

  .item {
    @include item-styles();
  }
}

footer {
  padding: 16px;
  text-align: center;
}
